.education-tiles {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.education-tile {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 10px 20px 10px;
    background-color: #333333;
    padding: 10px;
    border-radius: 10px;
}

.education-left-section {
    width: 200px;
    margin-right: 10px;
}

.education-right-section {
    width: calc(100% - 240px);
    margin-left: 10px;
}

.education-logo {
    width: 100%;
    background-color: white;
}

.education-meta-text {
    margin-bottom: 10px;
}

@media screen and  (max-width:700px) {
    .education-right-section {
        width:100%;
        margin-left: 0px;
        margin-top: 2rem;

    }

    .education-left-section {
        width: 100%;
        margin-right: 0px;
        display: flex;
    }

    .education-logo {
        width: 50%;
    }

    /* .education-meta-text {
        margin-left: 20px;
    } */
}

@media screen and (max-width: 500px) {
    .education-left-section {
        display: block;
    }

    .education-logo {
        width: 100%;
    }

    .education-meta-text {
        margin-left: 0px;
    }
}


.education-company {
    font-family: "Rubik";
    font-size: 1.2rem;
    font-weight: 800;
}

.education-subtitle {
    font-family: "Rubik";
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: .2rem;
}

.education-subdescription {
    margin-bottom: .6rem;
}

.education-subbullets {
    list-style-type: square;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 20px;
    margin-bottom: .6rem;
}

.education-bullet {
    margin-bottom: .2rem;
}