.form-input {
    width: 100%;
    line-height: 1.3rem;
    border: 1px solid white;
    background-color: black;
    color: white;
    border-radius: 5px;
    margin-bottom: 10px;
}

.form-comment {
    width: 100%;
    border: 1px solid white;
    background-color: black;
    color: white;
    border-radius: 5px;
}

.submit-button {
    background-color: var(--font-secondary-color);
    color: white;
    border: 2px solid black;
    padding: .5rem 1.5rem;
    font-weight:bold;
    border-radius: 8px;
}

.submit-button:hover {
    background-color: #333333;
    color: white;
    border: 2px solid black;
    font-weight:bold;
    border-radius: 8px;
}

.error-msg {
    font-size: .75rem;
    color: red;
    margin-bottom: 10px;
}

.field-label {
    font-weight: 800;
}