.form-input {
    width: 100%;
    line-height: 1.3rem;
    border: 1px solid white;
    background-color: black;
    color: white;
    border-radius: 5px;
    margin-bottom: 10px;
}

.form-comment {
    width: 100%;
    border: 1px solid white;
    background-color: black;
    color: white;
    border-radius: 5px;
}

.submit-button {
background-color: #007ba7;
    font-family: "Rubik";
    font-weight: 600;
    color: white;
    border-radius: 0px;
    border: 1px solid #555555;
    font-size: .8rem;
    cursor: pointer;
    padding: .6rem 1.2rem;
    border-radius: 5px;
    padding: .5rem 1.5rem;
}

.submit-button:hover, .submit-button:active {
  background-color: black;
  color: white;
  border-color: white;
}

.error-msg {
    font-size: .75rem;
    color: red;
    margin-bottom: 10px;
}

.field-label {
    font-weight: 800;
}